@model Course.Model.Book
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " الكتب";
    Layout = "~/Pages/Shared/_CoustomLayuot.cshtml";
}
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1 mb-0">Bootstrap Tables</h5>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-body">
    <section class="simple-validation">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Simple Form Validation</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <form asp-action="Save" asp-controller="Book" method="post" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <input type="hidden" asp-for="Id" />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="text" asp-for="Namee" value="@Model.Namee"  class="form-control" data-validation-required-message="This First Name field is required">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>